<!doctype html>
<html>

<head>
  <title>Demo Day Project</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="assets/css/main.css" />
  <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>

  <link rel="stylesheet" href="styleProfile.css">
</head>

<body>

  <section>
    <h3><span><i class="fas fa-atom"></i></span> React</h3>
  </section>

  <div class="container">

    <div class="page-header text-center">
      <h1><span class="fa fa-flask"></span> Labs</h1>
      <a href="/logout" class="btn btn-default btn-sm">LOGOUT</a>
    </div>

    <div class="row">

      <!-- LOCAL INFORMATION -->
      <!-- <div class="col-sm-6">
      <div class="well">
      <h3><span class="fa fa-user"></span> Local</h3>

      <% if (user.local.email) { %>
      <p>
      <strong>id</strong>: <%= user._id %><br>
      <strong>email</strong>: <%= user.local.email %><br>
      <strong>password</strong>: <%= user.local.password %>
    </p>

    <a href="/unlink/local" class="btn btn-default">Unlink</a>
    <% } else { %>
    <a href="/connect/local" class="btn btn-default">Connect Local</a>
    <% } %>

  </div>
</div> -->
<div class="col-sm-6">
  <h3>Lab List</h3>
  <ul class="reports">
    <% for(var i=0; i< reports.length; i++) {%>
        <li class="report">
          <span><a href="/edit/<%= reports[i]._id %>"><%= reports[i].labTitle%></a></span>
          <span><i class="fa fa-trash" aria-hidden="true"></i></span>
          <span><a href="/render/<%= reports[i]._id %>">Render Report</a></span>
        </li>
        <% } %>
      </ul>

      <% if (user.local.email) { %>
        <form action="/reports" method="POST">
          <input type="text" value="<%= user.local.email %>" name="name">
          <input type="text" placeholder="Lab Name" name="msg">
          <button type="submit">Submit</button>
        </form>
      </div>
      <% } %>

    </div>

    <script src="main.js"></script>
    <script src="https://kit.fontawesome.com/077191d827.js" crossorigin="anonymous"></script>

    <!-- got this from html5 up template  -->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/jquery.scrollex.min.js"></script>
    <script src="../assets/js/jquery.scrolly.min.js"></script>
    <script src="../assets/js/browser.min.js"></script>
    <script src="../assets/js/breakpoints.min.js"></script>
    <script src="../assets/js/util.js"></script>
    <script src="../assets/js/main.js"></script>

  </body>

  </html>
